<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - AppSemTemplate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Jojo Financas App</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Itens de Compra
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" asp-controller="ClasseCompra" asp-action="List">Classe de compra</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="TipoPagamento" asp-action="List">Tipo de pagamento</a>
                                </li>                                
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3 mb-3">
            @RenderBody()
        </main>
    </div>    

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>